*~
/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/libtool
/stamp-h1
/INSTALL
/install-sh
/ltmain.sh
/m4/libtool.m4
/m4/lt*
Makefile
Makefile.in
/missing
/po/*.gmo
/po/*.header
/po/*.insert-header
/po/LINGUAS
/po/Makefile.in.in
/po/Makevars
/po/Makevars.template
/po/*.mo
/po/*.po
/po/POTFILES
/po/POTFILES.in
/po/POTFILES-shell.in
/po/remove-potcdate.sed
/po/Rules-quot
/po/*.sed
/po/*.sin
/po/stamp-po
